

#pie-pagina{
    font-size: 3rem;
    text-align: center;

    p{
        font-size: 3rem;

    }
    
    }

    #buscador .buscador{
        display:block;
        text-align: center;
        cursor: pointer;
        
}