#footer{
    width: 100%;
    height: 30rem;
    background: $color-tercero;
    color: $color-noveno;
    overflow: hidden;

    .wrap div{
        float: left;
        width: 20rem;
        height: 25rem;
        margin: 3rem;
        text-align: center;
        color: $color-noveno;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}


#pie-pagina{
    font-size: 3rem;
    text-align: center;

    p{
        font-size: 3rem;

    }
    
    }

    #buscador .buscador{
        display:block;
        text-align: center;
        cursor: pointer;
        
}