
.hero {
    width: 100%;
    height: calc(100vh - 15rem);
    position: relative;
    display: inline-block;

        h2{
        margin-bottom: 1rem;
        font-size: 7rem;
        cursor: pointer;
        transition: all 300ms;
        &:hover{
            color:$color-cuarto;
            transform:scale(1.1,1.1);
        }
        }
        

        h3{
            margin-bottom: 1rem;
            font-size: 3rem;
            cursor: pointer;
            transition: all 200ms;
            &:hover{
                color:$color-decimo;
                transform: scale(1.2,1.2);
            }
            
            }

        span{
            font-size: 6rem;
            font-weight: 900;
            color:$color-segundo;
            transition: all 300ms;
            cursor: pointer;
            &:hover{
                transform:matrix(1.2,1.2);
                color:$color-sexto;
            }
        }
        
    }
    p{
        font-size: 2rem;
        font-family:'Bad Script', cursiva;
        font-weight: 500;
        color:$color-septimo;
    }
