#sobremi {

    max-width: 44.75rem;
    margin: auto;
    padding: 6.25rem;
    color: $color-primero;
    display: flex;

    p {

        font-size: 2.5rem;
        display: block;
        text-align: center;
        margin: 1rem;
        margin-left: 13rem;
        transition: all 300ms;
        cursor: pointer;

        &:hover {
            transform: scale(1.0, 1.0);
            color: $color-octavo;
        }
    }

    .foto {
        max-width: 58.5rem;
        margin-right: 6.25;

        img {
            padding: 1.25rem;
            margin-left: 113rem;
            width: 40rem;
            border-radius: 2rem;
            background-color: $color-septimo;

        }


    }
}

@media (max-width:1300px) {

    #sobremi p {
        margin-left: -87rem;
        margin-top: -1rem;
        
    }

    #mi {
        text-align: center;
        display: block;
        justify-content: center;

    }

    #sobremi .foto img {

        width: 54%;
        margin-left: 65rem;


    }

    .foto {
        column-width: auto;
    }
    

}
@media (max-width:1296px){
    #sobremi{
        .foto{
        visibility: hidden;
}
        P{
        margin-left: 0rem;
    }
    }
    }
    
    
    

@media (max-width:1144px) {
#sobremi img{
    display: none;
    p {
        margin-left: 45rem;
        margin-top: 0rem;

        #sobremi p {
            margin-left: 80rem;
            margin-top: 0rem;
            
    p {
    margin-left: 32rem;



}
}
}
}
}


