#sobremi {

    max-width: 90.75rem;
    margin: auto;
    padding: 6.25rem;
    color: $color-primero;
    display: flex;

    p {

        font-size: 2.5rem;
        display: block;
        text-align: center;
        margin: 1rem;
        margin-left: 19rem;
        transition: all 300ms;
        cursor: pointer;

        &:hover {
            transform: scale(1.1, 1.1);
            color: $color-octavo;
        }
    }

    .foto {
        max-width: 37.5rem;
        margin-right: 6.25;

        img {
            padding: 1.25rem;
            margin-left: -35rem;
            width: 40rem;
            border-radius: 2rem;
            background-color: $color-septimo;

        }


    }
}

@media (max-width:1250px) {

    #sobremi p {
        margin-left: -6rem;
        margin-top: -1rem;
    }

    #mi {
        text-align: center;
        display: block;
        justify-content: center;

    }

    #sobremi .foto img {

        width: 100%;
        margin-left: 89rem;


    }

    .foto {
        column-width: auto;
    }

}

@media (max-width:1036px) {
    #sobremi p {
        margin-left: -6rem;
        margin-top: -1rem;
    }

}

@media (max-width:900px) {
    #sobremi p {
        margin-left: -6rem;
        margin-top: -1rem;
    }
}


#sobremi p {
    margin-left: -12rem;
    margin-top: 0rem;
}


#sobremi {
    padding-top: 23rem;
    border-top: 45px;
    margin-bottom: -7.5rem;
    margin-left: -23rem;

    padding-left: -14rem;

}

@media (max-width:890px){
    #sobremi .foto img {
        width: 100%;
        margin-left: 32rem;
        opacity: 0;
}


}

