$color-primero:black;
$color-segundo:brown;
$color-tercero:gold;
$color-cuarto:rgb(0, 128, 111);
$color-quinto:rgb(13, 255, 65);
$color-sexto:tomato;
$color-septimo:#cccc;
$color-octavo:#fff;
$color-noveno:white;
$color-decimo:#a945c7;